.main_bg.body-iceCreamPage {
  background-color: #fcf0cf;
  height: 100vh;
  padding-bottom: 3em;
}

/* @media (max-height: 651px) {
  .main_bg.body-iceCreamPage {
    height: 100%;
  }
} */

.main {
  margin-top: 20px;
}

.profile_header {
  border: 2.5px solid rgb(223, 223, 223);
  border-radius: 10px;
  padding: 10px 20px;
  background-color: white;
}

.icecream-img-profile {
  height: 7em;
  width: 7em;
  border-radius: 100%;
  border: 1px solid rgb(170, 170, 170);
  margin: 1em 2em 1em 0;
}

.prof_grid {
  display: grid;
  /* grid-template-areas:
    "a a"
    "b b"
    "c c"; */
  /* grid-template-columns: 40em 15em; */
  /* grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1.5fr; */
}

.prof_h2,
.prof_h3 {
  text-align: start;
}

.prof_grid .prof_h3 {
  grid-area: "a";
  margin-bottom: 0;
  margin-top: 0;
}

.prof_grid > p {
  grid-area: "b";
  margin-bottom: 0;
}

.review_container {
  margin-bottom: 2em;
}

.review_card {
  align-items: center;
  border-bottom: 1px solid #8ac0de;
  padding: 1em;
  padding-right: 2em;
}

.prof_review_content {
  width: 100%;
  grid-area: "c d";
}

.prof_review_content > p {
  margin-top: 0;
  text-align: justify;
  font-size: small;
  margin-bottom: 0.3em;
}

.prof-edit-btn {
  margin-top: 1em;
  margin-left: 0.8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  align-self: start;
}

.icecream-rating-profile {
  margin-top: 0;
  margin-bottom: 0.2em;
}
