.body-iceCreamPage {
    background-color: #F3D1DC;
    display: flex;
    justify-content: center;
}


.main-content-iceCreamPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-image-container {
    height: 13em;
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid #8AC0DE;
}

.description-iceCreamPage {
    width: 30em;
    text-align: center;
}

.paragraph-iceCreamPage {
    margin: 0;
}
